* {
    font-family: Georgia, 'Times New Roman', Times, serif
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-weight: light;
    text-transform: uppercase;
    font-size: medium;
}



